*{
    	padding:0;
			margin: 0;
			box-sizing: border-box;
			
}
body{
	background: white;
}

/* sweet cat pic
*/
header{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 10px auto;
	color: #a05344;
	font-size: 1.25em;	
	font-family: 'Playfair Display', serif;
	
}
/* for sweet cast pic*/

.imageheader{	
	border-radius: 30px;
	margin: 20px;
	transform: rotate(5deg);
	box-shadow: 20px 20px 10px grey;
	max-width: 300px;
	
}
.container{
	width: 90%;
	display: flex;
	justify-content: flex-start;
	margin: 0 auto;
	flex-wrap: wrap;
	flex-direction: row;	
}
/* for last 3 pic */
.gallery{
	display: flex;
	flex-direction: column;
	max-width: 20%;
	max-width: 200px;
	align-items: center;
	flex:1;
}
figure{
	margin: 5px 10px;
}
.gallery img{
	border-radius: 10px;
	width: 100%;
}
figcaption{
	color: Purple;
	text-align: center;
}
p{
	font-family: "Times New Roman" ,lora;
}
.paragraph-container{
	flex:1;
	display: flex;
	justify-content: center;
	margin: auto;
	flex-wrap: wrap;
	flex-direction: row;
	max-width: 100%;

}
.paragraph{
	max-width: 30%;
	max-width: 300px;
	
	
}
.paragraph img{
	border-radius: 20px;
	float: left;
    max-width: 60%;
    margin: 5px;
    height: auto;


}

blockquote{
	float:right;
	padding: 10px;
	color: #4834d4;
	border-radius: 10px;
	font-size: 1.5em;
}
blockquote p{
	font-family: 'Dancing Script', cursive;

}

footer { 
   left: 10;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: red;
   text-align: center;
   height: 60px;
   font-family: 'Dancing Script', cursive;
   font-size: 2em;
   padding: 20px;

}
@media (max-width: 1300px ) {
     
    .paragraph{
	max-width: 5%;
	}
}

@media (max-width: 1100px ) {
    
  	.paragraph img{
		max-width: 40%;
	}
    .paragraph{
	max-width: 95%;
	}
}
	
@media (max-width: 800px ) {
    .container {
     flex-direction: column;
    }
    .gallery{
    	order: 2;
    }
    .paragraph{
	max-width: 100%;
	}
	.paragraph img{
		max-width: 40%;
	}
}
